{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/login.css' %}	" />
<body background="{%static 'images/movie2.jpg' %}">
<div class='firstpage'><p><h1 class='firstpage'>Looking for a good movie and don't know what to watch?</h1></p>
<p><h1 class='firstpage'>We predict the movies that you'll love.</h1>
</div>
<form id="loginform" method="" action="">
<input type="text" class="input" placeholder="E-mail" /> 
<input type="password" class="input" placeholder="Password" />
<input type="submit" class="loginbutton" value="SIGN IN" />

<a href="register.html"/>
<input type="button" class="loginbuttonnext" value="New user? Register now" />


</body>
</html>