{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/login.css' %}	" />
<body background="{%static 'images/movie2.jpg' %}">
	<br>
	<br>
<div class='firstpage'><p><h1 class='firstpage'>Looking for a good movie and don't know what to watch?</h1></p>
<p><h1 class='firstpage'>We predict the movies that you'll love.</h1>
</div>
<a href="login">
<input type="button" class="loginbutton" value="SIGN IN" />
</a><br>
<a href="register"/>
<input type="button" class="loginbutton" value="New user? Register now" /></a>


</body>
</html>