{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/login.css' %}	" />
<body background="{%static 'images/movie.png' %}">

<p align="right">
<a href="index"/>
<input type="button" class="loginbuttonnext" value="Signout" />
<h1><strong><b><font size="9" color="yellow"><mark>Welcome user</font></strong></mark></b>
<p align="center">
<form id="nuserform" method="" action="">
<a href="rate"/>
<input type="button" class="loginbutton" value="RATE MOVIES" />
<a href="rated"/>
<input type="button" class="loginbutton" value="SHOW MY RATED MOVIES" /><br>
<a href="list"/>
<input type="button" class="loginbuttonnext1" value="SHOW ME THE MOVIES THAT I'LL LIKE" />

</form>


</body>
</html>